<div class="shadow-container">
<mat-toolbar class="main-header" color="primary" class="mat-elevation-z6">
    <span class="title-center">City of Grand Rapids Interactive Parking Locator</span>
    <span class="example-spacer"></span>
</mat-toolbar>
</div>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav" opened mode="side">
        <mat-nav-list class="nav-list">       
            <a class="menu-item" *ngFor="let link of links" routerLink="/{{link.path}}" mat-list-item><mat-icon color="primary" style="margin-right: 8px;" svgIcon={{link.icon}}></mat-icon><mat-divider></mat-divider>{{link.displayText}}</a>
            <div>
                <p *ngIf="isAvailable" class="parking-stats-header">Available Spots</p>
                <p *ngIf="isAvailable" class="parking-stats">near</p>
                <p *ngIf="isAvailable" class="parking-stats">{{this.searchLocation}}</p>
                <p *ngIf="isAvailable" class="parking-stats">{{this.availableSpots}} Spots</p>
                <mat-divider></mat-divider>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="map" id="map" class="match-parent"></div>
    </mat-sidenav-content>
</mat-sidenav-container>